<html ng-app="HQ">

<head>
  <link rel="stylesheet" href="/css/uikit.min.css" />
  <!-- <script src="js/jquery.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/uikit.min.js"></script>
  <script src="/js/uikit-icons.min.js"></script>
  <style>
    .ng-cloak {
      display: none !important;
    }

    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
  </style>

</head>

<body>
  <div class="uk-width-1-1 uk-container-center uk-text-center">
    <h1 class="uk-heading-primary">HQ</h1>
  </div>

  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-6">
      <ul class="uk-nav uk-nav-default" uk-switcher="connect: .nav-class">
        <li><a href="#">Map</a></li>
        <li><a href="#">CMO Orders</a></li>
        <li><a href="#">Dept Updates</a></li>
        <li><a href="#">Send Order to Department</a></li>
        <li><a href="#">Send Crisis Update</a></li>
      </ul>
    </div>
    <div class="uk-width-5-6">
      <ul class="uk-switcher nav-class uk-margin">
        <li ng-controller="MapController as MC">
          <div class="ng-cloak uk-container">
            <div id="map"></div>
            <script>
              function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: { lat: 1.367448, lng: 103.803256 }
                });
                // Create an array of alphabetical characters used to label the markers.
                var labels = '123456789';
                // Add some markers to the map.
                // Note: The code uses the JavaScript Array.prototype.map() method to
                // create an array of markers based on a given "locations" array.
                // The map() method here has nothing to do with the Google Maps API.
                var markers = locations.map(function (location, i) {
                  return new google.maps.Marker({
                    position:  new google.maps.LatLng(location.Lat,location.Lon),
                    label: location.ID
                  });
                });

                // Add a marker clusterer to manage the markers.
                var markerCluster = new MarkerClusterer(map, markers,
                  { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
              }
              var locations = [
                { lat: 1.367448, lng: 103.803256 },
                { lat: 1.35, lng: 103.803256 },
                { lat: 1.34, lng: 103.803256 },
                { lat: 1.33, lng: 103.803256 },
                { lat: 1.377448, lng: 103.803256 },
                { lat: 1.387448, lng: 103.903256 },
                { lat: 1.373448, lng: 103.913256 },
                { lat: 1.375448, lng: 103.793256 },
                { lat: 1.376448, lng: 103.823256 },
                { lat: 1.379448, lng: 103.833256 },
                { lat: 1.378448, lng: 103.853256 }
              ]
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">

            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB0_Lrcos1Pui3Hvk75-kDlDT1xFA8Uh0&callback=initMap">

            </script>
          </div>
        </li>
        <li ng-controller="ReceiveCMOOrdersController as RCC">
          <ul uk-accordion="multiple: true" class="uk-list uk-list-striped">
            <li ng-repeat="order in CMOOrders">
              <h3 class="uk-accordion-title">Crisis ID: {{order.CrisisID}}</h3>
              <div class="uk-accordion-content">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin uk-card-hover">
                    <ul class ="uk-list">
                        <li>Crisis Type: {{order.CrisisType}}</li>
                        <li>Description of Case: {{order.Description}}</li>
                        <li>Location: {{order.Lat}}</li>
                        <li  ng-repeat"suborder in order.SuggestedActions">Suggested Action:
                          <ul class ="uk-list">
                            <li>Department Type: {{suborder.DepartmentType}}</li>
                            <li>Severity Rating: {{suborder.SeverityRating}}</li>
                          </ul>
                        </li>
                        <li>Point of Contact: {{order.PointOfContact}}</li>
                    </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li ng-controller="ReceiveDeptUpdatesController as RDUC">
          <li ng-repeat="update in deptUpdates">
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin">
                <h3 class="uk-card-title">Crisis ID: {{update.CrisisID}}</h3>
                <ul class = "uk-list">
                    <li>Status: {{update.Status}}</li>
                    <li>Comments: {{update.Comments}}</li>
                </ul>
            </div>
          </li>
        </li>
        <li>
          <!--Send orders to HQ-->
            <form class="uk-form-horizontal uk-margin-large" id="submitUpdate" action="/HQ/updateCMO" method="post">

              <div class="uk-margin">
                  <div class="uk-form-label">Department</div>
                  <div class="uk-form-controls">
                      <select class="uk-select" name="status">
                                  <option>Emergency Medical Services Department</option>
                                  <option>Counter Terrorism Department</option>
                                  <option>Urban Search & Rescue Department</option>
                                  <option>Civilian Evacuation Department</option>
                                  <option>Infectious Disease Quarantine Department</option>
                                  <option>Firefighting Department</option>
                                  <option>Bomb Disposal Department</option>
                                  <option>Hazmat Department</option>
                              </select>
                  </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Squad(s) needed</div>
                  <div class="uk-form-controls">
                      <select class="uk-select" name="status">
                                  <option>0</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                              </select>
                  </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Location</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="crisisID" placeholder="Enter Location">
                  </div>
              </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Crisis ID</div>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="status">
                                    <option>Placeholder 001</option>
                                    <option>Placeholder 002</option>
                                </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Severity</div>
                    <div class="uk-form-controls">
                        <select class="uk-select" name="status">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">Comments</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="crisisID" placeholder="Enter Comments">
                    </div>
                </div>
                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-default" type="submit">Submit</button>
                </div>
            </form>
        </li>
        <li>
          <form class="uk-form-horizontal uk-margin-large" id="sendCrisisUpdate" action="/HQ/updateCMO" method="post">

              <div class="uk-margin">
                  <div class="uk-form-label">Crisis ID</div>
                  <div class="uk-form-controls">
                    <select class="uk-select" name="CrisisID">
                                <option>Placeholder 001</option>
                                <option>Placeholder 002</option>
                                <option>111</option>
                    </select>
                  </div>
              </div>

              <div class="uk-margin">
                  <div class="uk-form-label">Plan ID</div>
                  <div class="uk-form-controls">
                    <select class="uk-select" name="PlanID">
                                <option>Placeholder 001</option>
                                <option>Placeholder 002</option>
                    </select>
                  </div>
              </div>

              <div class="uk-margin">
                  <div class="uk-form-label">Status</div>
                  <div class="uk-form-controls">
                      <select class="uk-select" name="Status">
                                  <option>On-going</option>
                                  <option>Clean-up</option>
                                  <option>Cleared</option>
                              </select>
                  </div>
              </div>

              <div class="uk-margin">
                  <div class="uk-form-label">Description</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="Description" >
                  </div>
              </div>

              <div class="uk-margin" uk-margin>
                  <button class="uk-button uk-button-default" type="submit">Submit</button>
              </div>
          </form>


        </li>
      </ul>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
  <script src="https://code.angularjs.org/1.6.5/angular-route.js"></script>
  <script src="/HQ/views/app.js"></script>
  <script src="/HQ/views/form.js"></script>
  <script src="/HQ/views/mapcontroller.js"></script>
</body>

</html>
