<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>

    <form id="submitUpdate" action="/HQ/updateCMO" method="post">
        Crisis ID:<br>
        <input type="text" name="crisisID" placeholder="Enter crisis ID"><br> Status:
        <br>
        <input type="text" name="status" placeholder="Enter status of crisis"><br><br>
        <input type="submit" value="Update">
    </form>

    <script>
        $("#submitUpdate").submit(function (e) {
            var url = "/HQ/updateCMO"; // the script where you handle the form input.
            $.ajax({
                type: "POST",
                url: url,
                data: $("#submitUpdate").serialize(), // serializes the form's elements.
                success: function (data) {
                    alert(JSON.stringify(data)); // show response from the php script.
                    $("#submitUpdate")[0].reset();
                },
                statusCode: {
                    404: function() {
                      alert("Incorrect data entered!");
                    }
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    </script>
</body>


</html>