<html ng-app="DeptHazmat">

<head>
    <title>Dept Hazmat</title>
  <link rel="stylesheet" href="/css/uikit.min.css" />
  <!-- <script src="js/jquery.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/uikit.min.js"></script>
  <script src="/js/uikit-icons.min.js"></script>
  <style>
    .ng-cloak {
      display: none !important;
    }

    #map {
      height: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
  </style>

</head>

<body>
  <div class="uk-width-1-1 uk-container-center uk-text-center">
    <h1 class="uk-heading-primary">Hazmat Department</h1>
  </div>

  <div class="uk-text-center" uk-grid>
    <div class="uk-width-1-6">
      <ul class="uk-nav uk-nav-default" uk-switcher="connect: .nav-class">
        <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: world"></span>Map</a></li>
        <li><a href="#">HQ Orders</a></li>
        <li><a href="#">Squad Updates</a></li>
        <li><a href="#">Send Order to Squad</a></li>
        <li><a href="#">Send Update to HQ</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </div>
    <div class="uk-width-5-6">
      <ul class="uk-switcher nav-class uk-margin">
        <li ng-controller="MapController as MC">
          <div class="ng-cloak uk-container">
            <div id="map"></div>
            <script>
              function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 12,
                  center: { lat: 1.367448, lng: 103.803256 }
                });
                // Create an array of alphabetical characters used to label the markers.
                var labels = '123456789';
                // Add some markers to the map.
                // Note: The code uses the JavaScript Array.prototype.map() method to
                // create an array of markers based on a given "locations" array.
                // The map() method here has nothing to do with the Google Maps API.
                var markers = locations.map(function (location, i) {
                  return new google.maps.Marker({
                    position:  new google.maps.LatLng(location.Lat,location.Lon),
                    label: location.ID
                  });
                });

                // Add a marker clusterer to manage the markers.
                var markerCluster = new MarkerClusterer(map, markers,
                  { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
              }
              var locations = [
                { lat: 1.367448, lng: 103.803256 },
                { lat: 1.35, lng: 103.803256 },
                { lat: 1.34, lng: 103.803256 },
                { lat: 1.33, lng: 103.803256 },
                { lat: 1.377448, lng: 103.803256 },
                { lat: 1.387448, lng: 103.903256 },
                { lat: 1.373448, lng: 103.913256 },
                { lat: 1.375448, lng: 103.793256 },
                { lat: 1.376448, lng: 103.823256 },
                { lat: 1.379448, lng: 103.833256 },
                { lat: 1.378448, lng: 103.853256 }
              ]
            </script>
            <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">

            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB0_Lrcos1Pui3Hvk75-kDlDT1xFA8Uh0&callback=initMap">

            </script>
          </div>
        </li>
        <li ng-controller="ReceiveHQOrdersController">
          <ul uk-accordion="multiple: true" class="uk-list uk-list-striped">
            <li ng-repeat="order in DeptHazmatOrders">
              <h3 class="uk-accordion-title">Crisis ID: {{order.CrisisID}}</h3>
              <div class="uk-accordion-content">
                <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin uk-card-hover">
                    <ul class ="uk-list">
                        <li>Department ID :{{order.DepartmentID}}  </li>
                        <li>Number of Squads: {{order.NumberOfSquads}}</li>
                        <li>Lat: {{order.Lat}}</li>
                        <li>Lon: {{order.Lon}}</li>
                        <li>Severity: {{order.Severity}}</li>
                        <li>Comments: {{order.Comments}}</li>
                    </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li ng-controller="ReceiveSquadUpdatesController">
            <ul uk-accordion="multiple: true" class="uk-list uk-list-striped">
                <li ng-repeat="update in squadUpdates">
                  <h3 class="uk-accordion-title">Crisis ID: {{update.CrisisID}}</h3>
                  <div class="uk-accordion-content">
                    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin uk-card-hover">
                        <ul class ="uk-list">
                            <li>Squad ID: {{update.SquadID}}</li>
                            <li>Lat: {{update.Lat}}</li>
                            <li>Lon: {{update.Lon}}</li>
                            <li>Status: {{update.Status}}</li>
                            <li>Comments: {{update.Comments}}</li>
                        </ul>
                    </div>
                  </div>
                </li>
              </ul>
        </li>
        <li>
          <!--Send orders to Squad-->
            <form class="uk-form-horizontal uk-margin-large" id="orderSQUAD" method="post">
              <div class="uk-margin">
                  <div class="uk-form-label">Squad ID</div>
                  <div class="uk-form-controls">
                      <select class="uk-select" name="SquadID">
                          <option value = "0">0</option>
                          <option value = "1">1</option>
                          <option value = "2">2</option>
                          <option value = "3">3</option>
                          <option value = "4">4</option>
                          <option value = "5">5</option>
                          <option value = "6">6</option>
                          <option value = "7">7</option>
                          <option value = "8">8</option>
                          <option value = "9">9</option>
                          <option value = "10">10</option>
                      </select>
                  </div>
              </div>
              <div class="uk-margin">
                    <div class="uk-form-label">Crisis ID</div>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" name="CrisisID" placeholder="Enter Crisis ID">
                    </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Lat</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="Lat" placeholder="Enter Latitude">
                  </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Lon</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="Lon" placeholder="Enter Longitude">
                  </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Severity</div>
                  <div class="uk-form-controls">
                    <select class="uk-select" name="Severity">
                        <option value = "1">1</option>
                        <option value = "2">2</option>
                        <option value = "3">3</option>
                        <option value = "4">4</option>
                        <option value = "5">5</option>
                    </select>
                  </div>
              </div>
              <div class="uk-margin">
                  <div class="uk-form-label">Comments</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="Comments" placeholder="Enter Comments">
                  </div>
              </div>

              <input type="hidden" name="DepartmentID" value="Hazmat">

                <div class="uk-margin" uk-margin>
                    <button class="uk-button uk-button-default" type="submit">Submit</button>
                </div>
            </form>
        </li>
        <li>
          <form class="uk-form-horizontal uk-margin-large" id="deptUpdateHQ" action="/DeptHazmat/updateHQ" method="post">

            <div class="uk-margin">
                <div class="uk-form-label">Crisis ID</div>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="CrisisID" placeholder="Enter Crisis ID">
                </div>
            </div>

              <div class="uk-margin">
                  <div class="uk-form-label">Status</div>
                  <div class="uk-form-controls">
                      <select class="uk-select" name="Status">
                                  <option>Mission On-going</option>
                                  <option>Mission Completed</option>
                              </select>
                  </div>
              </div>

              <div class="uk-margin">
                  <div class="uk-form-label">Description</div>
                  <div class="uk-form-controls">
                      <input class="uk-input" type="text" name="Comments" >
                  </div>
              </div>

              <div class="uk-margin" uk-margin>
                  <button class="uk-button uk-button-default" type="submit">Submit</button>
              </div>
          </form>


        </li>
        <li ng-controller="StatusController">
            <table class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th>Squad</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody ng-repeat="(key,value) in DeptStatus">
                    <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </li>
      </ul>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
  <script src="https://code.angularjs.org/1.6.5/angular-route.js"></script>
  <script src="/DeptHazmat/views/app.js"></script>
  <script src="/DeptHazmat/views/mapcontroller.js"></script>
  <script src="/DeptHazmat/views/orderSquadForm.js"></script>
  <script src="/DeptHazmat/views/status.js"></script>
</body>

</html>
